# Commandline args for cloudflared, using Cloudflare DNS
CLOUDFLARED_OPTS=--port {{ cloudflared_port }}{% for item in cloudflared_upstream_dns %} --upstream {{ item }}{% endfor %} --metrics {{ cloudflared_metrics_listen_ip }}:{{ cloudflared_metrics_listen_port }}
